<div class="box">
<h1>Tasker</h1>
<br />
  <div id="btn-line">
      <a class="btn" href="/signin" type="submit">
        SIGNIN
      </a>
      <a class="btn" href="/signup">
        SIGNUP
    </a>
  </div>
</div>